@font-face {
	font-family: 'Avenir-Light';
	src: url('#{$font-path}/avenir-light.eot');
	src: local('Avenir-Light'), local('avenir-light'),
		url('#{$font-path}/avenir-light.eot?#iefix') format('embedded-opentype'),
		url('#{$font-path}/avenir-light.woff') format('woff'),
		url('#{$font-path}/avenir-light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir-Book';
	src: url('#{$font-path}/avenir-book.eot');
	src: local('Avenir-Book'), local('avenir-book'),
		url('#{$font-path}/avenir-book.eot?#iefix') format('embedded-opentype'),
		url('#{$font-path}/avenir-book.woff') format('woff'),
		url('#{$font-path}/avenir-book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir-Medium';
	src: url('#{$font-path}/avenir-medium.eot');
	src: local('Avenir-Medium'), local('avenir-medium'),
		url('#{$font-path}/avenir-medium.eot?#iefix') format('embedded-opentype'),
		url('#{$font-path}/avenir-medium.woff') format('woff'),
		url('#{$font-path}/avenir-medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir-Black';
	src: url('#{$font-path}/avenir-black.eot');
	src: local('Avenir-Black'), local('avenir-black'),
		url('#{$font-path}/avenir-black.eot?#iefix') format('embedded-opentype'),
		url('#{$font-path}/avenir-black.woff') format('woff'),
		url('#{$font-path}/avenir-black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
