@font-face {
	font-family: 'HelveticaNeue';
	src: url('#{$font-path}/helvetica-neue.eot');
	src: local('Helvetica Neue'), local('HelveticaNeue'),
		url('#{$font-path}/helvetica-neue.eot?#iefix') format('embedded-opentype'),
		url('#{$font-path}/helvetica-neue.woff') format('woff'),
		url('#{$font-path}/helvetica-neue.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue-Light';
	src: url('#{$font-path}/HelveticaNeue-light.eot');
	src: local('Helvetica Neue Light'), local('HelveticaNeue-Light'),
		url('#{$font-path}/helvetica-neue-light.eot?#iefix') format('embedded-opentype'),
		url('#{$font-path}/helvetica-neue-light.woff') format('woff'),
		url('#{$font-path}/helvetica-neue-light.ttf') format('truetype');
  font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue-LightItalic';
	src: url('#{$font-path}/helvetica-neue-light-italic.eot');
	src: local('Helvetica Neue Light Italic'), local('HelveticaNeue-LightItalic'),
		url('#{$font-path}/helvetica-neue-light-italic.eot?#iefix') format('embedded-opentype'),
		url('#{$font-path}/helvetica-neue-light-italic.woff') format('woff'),
		url('#{$font-path}/helvetica-neue-light-italic.ttf') format('truetype');
  font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue-Medium';
	src: url('#{$font-path}/helvetica-neue-medium.eot');
	src: local('Helvetica Neue Medium'), local('HelveticaNeue-Medium'),
    url('#{$font-path}/helvetica-neue-medium.eot?#iefix') format('embedded-opentype'),
		url('#{$font-path}/helvetica-neue-medium.woff') format('woff'),
		url('#{$font-path}/helvetica-neue-medium.ttf') format('truetype');
  font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue-Bold';
	src: url('#{$font-path}/helvetica-neue-bold.eot');
	src: local('Helvetica Neue Bold'), local('HelveticaNeue-Bold'),
    url('#{$font-path}/helvetica-neue-bold.eot?#iefix') format('embedded-opentype'),
		url('#{$font-path}/helvetica-neue-bold.woff') format('woff'),
		url('#{$font-path}/helvetica-neue-bold.ttf') format('truetype');
  font-weight: normal;
	font-style: normal;
}
