.button {
  display: inline-block;
  font-family: "Avenir-Book";
  letter-spacing: 0.16em;
  font-size: $base;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 2px;
  border: 1px solid $porcelain;
  line-height: 2;
  padding: #{(9/$bf)}rem;
  background: $white;
  color: $limed-spruce;
  min-width: 13.76rem;
  text-align: center;
  box-shadow: none;
  transition: box-shadow 150ms ease;

  &:hover,
  &:active,
  &:focus {
    font-family: "Avenir-Black";
    box-shadow: 0 0 40px rgba($porcelain, 1);
  }
}
