.owl-nav {
  pointer-events: none;
  width: 100%;
  max-width: 1220px;
  max-width: calc(75em + 20px);
  transform: translateX(-50%);
  @include position(absolute, 0 null 0 50%);
}

.owl-prev,
.owl-next {
  pointer-events: all;
  width: 2em;
  height: 2em;
  transform: translateY(-50%);
  box-sizing: content-box;
  @include padding($gutter);
  @include position(absolute, 50% null null null);

  @include bp(992){
    width: 3em;
    height: 3em;
  }
}

.owl-next {
  right: 0;
}

.owl-dots {
  font-size: 0;
  text-align: center;
}

.owl-dot {
  display: inline-block;
  position: relative;
  width: $gamma;
  height: $gamma;
  cursor: pointer;

  &:before {
    content: '';
    display: block;
    width: #{(8/16)}rem;
    height: #{(8/16)}rem;
    border: 1px solid $loblolly;
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0);
    transition: all 150ms ease;
    @include position(absolute, 50% null null 50%);
  }

  &:hover:before{
    background: rgba($loblolly, 0.25);
  }

  &.active:before {
    background: $loblolly;
  }
}

.content-block-carousel {
  .owl-stage {
    margin-bottom: 6rem;
  }

  .owl-dots {
    margin-bottom: 2rem;
  }
}
