.clients {
  list-style-type: none;
  @include clearfix();

  li {
    display: block;
    text-align: center;

    @include bp(992){
      width: 25%;
      float: left;
    }
  }

  figure {
    margin: 0;
    display: inline-block;
  }
}
