.content-block {
  &:nth-child(2n-1) {
    background: $athens-grey;
  }

  &-box {
    @include padding(4em null);

    @include bp(768){
      @include padding(6em null);
    }
  }
}

.content-block-carousel {
  padding-bottom: 0;
}

.content-block-header {
  display: block;
  text-align: center;
  font-size: $gamma;
  line-height: 1.375;
  font-family: "Avenir-Light";
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.18em;
  font-weight: normal;
  margin: 0 0 4rem;

  @include bp(768){
    font-size: $beta;
  }

  .content-block-box-tight & {
    margin-bottom: 1.2rem;
  }
}

.content-block-paragraph {
  max-width: 43.75rem;
  text-align: center;
  @extend .paragraph;
  @include margin(null auto);
}

.content-block-buttons {
  text-align: center;
  font-size: 0;
  margin-top: 3rem;

  .button + .button {
    margin-left: $gutter;

    @include bp(768){
      margin-left: $gutter*2;
    }
  }

  .button {
    @include bp(767, 'max-width'){
      min-width: auto;
      width: 50%;
      max-width: calc(50% - 0.3125rem);
    }
  }
}
