.container {
  width: 100%;
  max-width: 60rem;
  @include margin(null auto);
  @include padding(null $gutter);
}

.row {
  @include clearfix();
  @include margin(null $gutter*-1);
}

.grid-container {
  @include grid-container;
}

.grid-collapse {
  @include grid-collapse($article-layout-grid);
}
