.hero-slider {
  width: 100%;
  display: block;
  list-style-type: none;
  position: relative;

  @include bp(767, 'max-width'){
    .owl-nav {
      display: none;
    }
  }

  @include bp(768){
    .owl-dots {
      display: none;
    }
  }

  .owl-dots {
    @include position(absolute, null 0 1rem 0);

    .owl-dot:before {
      border-color: $white;
    }

    .owl-dot.active:before {
      background: $white;
    }
  }
}

.hero-slide {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  height: calc(100vh - 200px);
  max-height: 500px;

  @include bp(768){
    height: 40.5em;
    max-height: none;
  }
}

.hero-slide-copy-wrapper,
.hero-slide-image-element {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.hero-slide-copy-wrapper {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  width: 100%;
  padding: 0 1rem;

  @include bp(1200){
    max-width: 75em;
    padding: 0 58px;
    padding: 0 calc(3em + 20px);

  }
}

.hero-slide-copy {
  color: $white;
  margin: 0;
  text-align: center;

  &-header {
    font-size: $alpha;
    line-height: (60/44);
    font-family: 'Avenir-Black';
    font-weight: normal;
    letter-spacing: 0.16em;
  }

  &-subheader {
    @include bp(767, 'max-width'){
      font-size: $gamma;
    }

    font-size: $beta;
    line-height: 2;
    letter-spacing: 0.18em;
    font-family: 'Avenir-Light';
    font-weight: normal;
  }
}

.hero-slide-image-element {
  &,
  figure {
    width: 100%;
    height: 100%;
  }

  figure {
    margin: 0;
    background-size: cover;
    background-position: center;
  }
}
