.icon-list {
  list-style-type: none;
  @include clearfix();

  li {
    width: 100%;
    display: flex;
    justify-content: center;

    @include bp(768){
      float: left;
      width: 50%;
    }

    &:nth-child(2n){
      @include bp(767, 'max-width'){
        flex-direction: row-reverse;
      }
    }

    figure {
      margin: 0 24px 0 0;
      width: 51px;
      overflow: hidden;
      text-align: center;

      i {
        display: inline-block;
      }
    }

    p {
      font-size: $base;
      line-height: (24/14);
      letter-spacing: 0.055em;
      color: $limed-spruce;
      font-family: "HelveticaNeue-Light";
      max-width: 200px;
    }
  }
}

.icon-list-row {
  @include clearfix();

  & + & {
    @include bp(768){
      margin-top: #{(128/$bf)}em;
    }
  }
}
