.aepo-icon {
  display: block;

  &--brand {
    width: 82px;
    height: 26px;
    text-indent: -9999px;
    background-image: url('#{$image-path}LOGOTYPE.svg');
    background-size: 82px 26px;
  }

  &--logomark {
    width: 28px;
    height: 26px;
    background-image: url('#{$image-path}AEPO Logo - Footer.svg');
    background-size: 28px 26px;
  }

  &--camera_icn {
    width: 51px;
    height: 28px;
    background-image: url('#{$image-path}camera_icn.svg');
    background-size: 51px 28px;
  }

  &--contractor_icn {
    width: 31px;
    height: 39px;
    background-image: url('#{$image-path}contractor_icn.svg');
    background-size: 31px 39px;
  }

  &--fleet_icn {
    width: 42px;
    height: 42px;
    background-image: url('#{$image-path}fleet_icn.svg');
    background-size: 42px 42px;
  }

  &--helmet_icn {
    width: 33px;
    height: 31px;
    background-image: url('#{$image-path}helmet_icn.svg');
    background-size: 33px 31px;
  }

  &--next,
  &--prev {
    width: 100%;
    height: 100%;
    background-image: url('#{$image-path}nav_btn.svg');
    background-size: cover;

    &:hover {
      background-image: url('#{$image-path}nav_btn_hover.svg');
      transform: rotate(180deg);
    }
  }

  &--next {
    transform: rotate(180deg);

    &:hover {
      transform: none;
    }
  }
}
