.nav {
  list-style: none;
  @include margin(0);
  @include padding(0);

  .menu-item {
    a {
      display: block;
      text-transform: uppercase;
      text-decoration: none;
      color: $limed-spruce;
    }
  }
}

.nav-primary {
  @include bp(767, 'max-width'){
    overflow: hidden;
    z-index: 2;
    pointer-events: none;
    @include position(absolute, 72px 0 null);

    &.active {
      .nav {
        transform: none;
      }
    }
  }

  @include bp(768){
    display: block;
    float: right;
  }

  .nav {
    @include bp(767, 'max-width'){
      background: $porcelain;
      transition: transform 150ms ease;
      transform: translateY(-100%);
      pointer-events: all;
    }

    @include bp(768){
      display: flex;
      justify-content: space-between;
      width: 25em;
    }

    .menu-item {
      float: none;

      @include bp(768){
        transform: none;
      }


      a {
        font-size: $nano;
        line-height: 1;
        letter-spacing: 2px;
        font-family: 'HelveticaNeue-Light';
        text-align: center;
        @include padding(1.25rem $gutter);

        @include bp(768){
          @include padding(1.875rem $gutter);
        }

        &:hover {
          color: $shuttle-grey;
        }
      }

      &.current-menu-item a {
        font-family: 'HelveticaNeue-Bold';
      }
    }

    .menu-item + .menu-item {
      @include bp(767, 'max-width'){
        border-top: 1px solid #dddddd;
      }
    }
  }
}

.secondary-nav {
  text-align: center;

  .menu-item {
    display: inline-block;

    a {
      font-size: $micro;
      line-height: 1.2;
      font-family: 'HelveticaNeue';
      letter-spacing: 0.03em;
      @include padding(null 1rem);
    }

    @include bp(767, 'max-width'){
      display: none;

      &.visible-mobile {
        display: inline-block;
      }
    }
  }
}
