.testimonials-carousel {
  list-style-type: none;
}

.testimonial {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  text-align: center;

  @include bp(768){
    text-align: left;
    flex-direction: row;
  }

  figure {
    border-radius: 50%;
    display: block;
    overflow: hidden;
    font-size: 0;
    width: 4.5rem;
    height: 4.5rem;
    margin: 0 auto $gutter;

    @include bp(768){
      margin: 0;
    }

    img {
      display: inline-block;
      width: 100%;
      height: auto;
    }
  }

  blockquote {
    width: 100%;
    margin: 0;

    @include bp(768){
      margin: 0 0 0 $gutter*2;
      width: 28.75em;
    }

    p {
      font-size: $nano;
      line-height: 2;
      letter-spacing: 0.055em;
      font-family: "HelveticaNeue-LightItalic";
    }

    .author {
      strong,
      span {
        font-size: $base;
      }

      strong {
        letter-spacing: 0.06em;
        font-family: "HelveticaNeue-Bold";
      }

      span {
        letter-spacing: 0.06em;
        font-family: "HelveticaNeue-Light";
        color: $loblolly;
      }
    }
  }
}
