html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: "HelveticaNeue";
  color: $limed-spruce;
}

* {
  box-sizing: border-box;
}

a {
  outline: none;
}

p {
  margin: 0 0 1em;

  &:last-child {
    margin-bottom: 0;
  }
}

.paragraph {
  font-family: "HelveticaNeue-Light";
  letter-spacing: 0.07em;
  color: $shuttle-grey;
  font-size: $base;
  line-height: (24/14);
}
