// Colors - http://chir.ag/projects/name-that-color/
$limed-spruce: #313f48;
$picton-blue:  #47B7E9;
$shuttle-grey: #54636d;
$athens-grey:  #fafbfc;
$white:        #ffffff;
$loblolly:     #c3cdd4;
$porcelain:    #eaedef;

// Font sizes
$alpha: 2.750rem; //44px
$beta:  1.500rem; //24px
$gamma: 1.250rem; //20px
$base:  0.875rem; //14px
$nano:  0.750rem; //12px
$micro: 0.625rem; //10px

// Base font
$bf: 16;

// Grid
$gutter: $micro;

$article-layout-grid: (
  columns: 1,
  gutter: 1.25rem,
);

$article-layout-grid--tablet-up: (
  columns: 3,
  gutter: 1.25rem,
  media: "(min-width: 768px)",
);


// Path
$image-path: '../images/';
$font-path:  '../fonts/';
