.content-info {
  text-align: center;
  @include padding(4.5rem null 6.25rem);

  .brand {
    display: inline-block;
    margin-bottom: 1.5rem;
  }

  .legal {
    font-size: $micro;
    letter-spacing: 0.16em;
    line-height: 1.2;
    display: block;
    text-align: center;
    margin-bottom: 2rem;
  }
}
