.banner {
  position: relative;

  .brand {
    float: left;
    @include padding(1.4375rem $gutter);
  }

  .nav-icon {
    width: 4.5em;
    height: 4.5em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    float: right;

    @include bp(768){
      display: none;
    }

    span {
      width: 20px;
      height: 2px;
      background: $limed-spruce;
      display: block;
    }

    span + span {
      margin-top: 2px;
    }
  }

  .nav-primary.active + .nav-icon {
    background: $porcelain;
  }
}
