.latest-posts {
  .post {
    width: 100%;
    float: left;
    @include padding(null $gutter);

    @include bp(768){
      width: 33.3333333%;
      width: calc(100% / 3);
    }
  }

  .post + .post {
    @include bp(767, 'max-width'){
      margin-top: 2rem;
    }
  }
}

.post-card {
  display: block;
  width: 100%;
  border: 1px solid $porcelain;
  border-radius: 2px;
  overflow: hidden;
  text-decoration: none;

  @include bp(992){
    padding-bottom: 100%;
    background: $limed-spruce;
    position: relative;
    transform: none;
    box-shadow: none;
    border: none;
    transition: transform 150ms ease 150ms, box-shadow 150ms ease 150ms;
    border-radius: 0;

    &:hover {
      transform: scale(1.05);
      transition-delay: 0ms, 0ms;
      box-shadow: 0 0 40px rgba($limed-spruce, 0.5);
    }
  }
}

.post-card-content,
.post-card-thumb {
  @include bp(992){
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.post-card-content {
  width: 100%;
  text-align: center;
  padding: $micro*2;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $white;
  transition: background-color 150ms ease 150ms;

  @include bp(992){
    background-color: rgba($limed-spruce, 0.5);

    .post-card:hover & {
      background-color: rgba($limed-spruce, 0.75);
      transition-delay: 0ms;
    }
  }

  > div {
    width: 100%;
  }
}

.post-card-content-extended {
  @include bp(992){
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 150ms ease 150ms, opacity 150ms ease 0ms;

    .post-card:hover & {
      max-height: 10em;
      opacity: 1;
      transition: max-height 150ms ease 0ms, opacity 150ms ease 150ms;
    }
  }
}

.post-card-title {
  font-size: $gamma;
  line-height: 1.35;
  text-transform: uppercase;
  color: $white;
  letter-spacing: 0.16em;
  margin: 0;
  font-family: "Avenir-Black";
}

.post-card-date {
  opacity: 0.5;
  font-family: 'HelveticaNeue-Medium';
  letter-spacing: 0.06em;
}

.post-card-excerpt {
  line-height: 2;
  font-family: 'HelveticaNeue-Light';
  letter-spacing: 0.09em;
}

.post-card-thumb {
  margin: 0;
  padding-bottom: 56.25%;
  background-size: cover;
  background-position: center;

  @include bp(992){
    padding-bottom: 0;
  }
}

.post-card-read-all {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06em
}

.post-card-date,
.post-card-excerpt,
.post-card-read-all {
  font-size: $nano;
}

.post-card-title,
.post-card-date,
.post-card-excerpt,
.post-card-read-all {
  color: $limed-spruce;

  @include bp(992){
    color: $white;
  }
}
